<!--
  Generated template for the FoodDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{myFood.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="segmentChanged($event)" value="details" [(ngModel)]="myContent">
    <ion-segment-button value="details">Details</ion-segment-button>
    <ion-segment-button value="alternatives">Alternatives</ion-segment-button>
  </ion-segment>

  <div>
    <ion-list *ngIf="myContent == 'details'">
      <ion-item>
        <!-- need to make amount eaten darker -->
          <ion-label color="dark">Amount Eaten:</ion-label>
          <ion-input placeholder="Enter Amount" [(ngModel)]="amount"></ion-input>
          <ion-select placeholder="Select One" [(ngModel)]="measurement">
            <ion-option value="mg">mg</ion-option>
            <ion-option value="grams">Grams</ion-option>
            <ion-option value="servings">Servings</ion-option>
            <ion-option value="cups">Cups</ion-option>
            <ion-option value="pounds">Pounds</ion-option>
            <ion-option value="tbsp">Tbsp</ion-option>
            <ion-option value="tsp">tsp</ion-option>
          </ion-select>
        </ion-item>

      <button ion-button full (click)="logFoodItem()">
        Log
      </button>


      <h2>
        Nutrition Information
      </h2>
      <ion-item>
        <ion-label>Serving Size:</ion-label>
        <ion-label text-right>{{myFood.servingSize}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Sodium Per Serving:</ion-label>
        <ion-label text-right>{{myFood.sodiumPerServing}} mg</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Calories Per Serving:</ion-label>
        <ion-label text-right>{{myFood.caloriesPerServing}} cal</ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="myContent == 'alternatives'">
      <button ion-item *ngFor="let f of alternativeFoods" (click)="showFoodDetails(f)">
        <ion-label text-left>{{f.name}}</ion-label>
        <ion-label text-right [color]="f.lowSodium ? 'secondary' : 'danger'">{{f.sodiumPerServing}} mg</ion-label>
      </button>
    </ion-list>
  </div>
</ion-content>
